block variables
    - const siteTitle = 'Приложение чат';

block content
    include ../../templates/main.pug
        .block
            h2.block__title !{label}
            form.form(name="signin")
                .form__container !{content}
                    .form__buttons !{button}
                        a(href='/signup.pug') Нет аккаунта?
