//- extends ../layout/base

block variables
    - const siteTitle = 'Список чатов';

block content
    include ../../templates/main.pug
        .chat-container
            .chat-list
                .chat-list__container
                    a(href='/profile.html')  профиль 
                    include  ../../templates/chat/chat-search-bar.pug
                    | !{chatList}
            //- include  ../../templates/chat/chat-area.pug
            .chat-area
                .chat-area__header
                    .chat-list-item__image
                    .chat-list-item__message-info
                        p.chat-list-item__user-name Андрей
                .chat-area__container
                    | !{messageList}
                .chat-area__footer
                    .chat-list-item__image
                    input.chat-search-bar__input(placeholder="Сообщение")
                    button
          
