.button {
  width: 280px;
  color: $white;
  padding: 10px 0;
  background-color: $blue;
  cursor: pointer;
  font-family: $fonts;
  font-size: 13px;
  line-height: 13px;
  display: block;
  text-align: center;
  border: none;

  &--round {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &--arrow-back {
    width: 32px;
    height: 32px;
    background-image: url("../../static/img/arrow.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
  }

  &--arrow-forward {
    width: 32px;
    height: 32px;
    background-image: url("../../static/img/arrow.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border: none;
    background-color: transparent;
  }

  &:hover {
    opacity: 0.9;
  }
}
