extends ../layout/base

block variables
    - const siteTitle = "Ошибка 404"
    - const errorTitle = "404"
    - const errorSubTitle = "Не туда попали"
    - const errorNavPath = "/index.pug"
    - const errorBtnText = "Назад к чатам"

block content
    //- div(id="app")
    //- script(src="../src//pages/Errors/404/index.ts")
    include ../templates/main
        include ../templates/error/error
