.chat-area
    .chat-area__header
        .chat-list-item__image
        .chat-list-item__message-info
                p.chat-list-item__user-name Андрей
    .chat-area__container
        include ./chat-message.pug
        include ./chat-message.pug
    .chat-area__footer
        .chat-list-item__image
        input.chat-search-bar__input(placeholder="Сообщение")
        button
 

