extends ./base

include ./mixins/inputField.pug

block vars
    - const siteTitle = 'Профиль';

block content
    //- include ./signin.pug

    .personal-info
        .personal-info-name  Профиль
              
