extends ./base

include ./mixins/inputField.pug

block vars
    - const siteTitle = 'Регистрация';

block content
    form.form(name="signup")
        .form__container
            h2.form__title Регистрация
            +inputField("email", "Почта", "mail", "text", "Поле некорректно заполнено", "email" )
            +inputField("login", "Логин", "login", "text", "Поле некорректно заполнено", "Пароль")
            +inputField("firstName", "Имя", "firstName", "text", "Поле некорректно заполнено", "Имя")
            +inputField("secondName", "Фамилия", "secondName", "text", "Поле некорректно заполнено", "Фамилия")
            +inputField("phone", "Телефон", "phone", "tel", "Поле некорректно заполнено", "Телефон")
            +inputField("password", "Пароль", "password", "password", "Поле некорректно заполнено", "Пароль")
            +inputField("confirmPassword", "Пароль (ещё раз)", "password",  "password", "Поле некорректно заполнено", "Пароль (ещё раз)")
    .block.
    button.button(name='button') Зарегистрироваться
    a(href='/profile.pug') Войти