.error
    .error__container
        .error__text-container
            h1.error__title #{errorTitle}
            p.error__subtitle #{errorSubTitle}
        a.error__button(href='/index.pug') #{errorBtnText}